<!-- csrf_token is added in forms to get CSRF Authentication-->
<!--
	This is the basic syntax for any test page to be added
										<div class="col-md-6 col-lg-3">
											<form action="/AWS_B" method="post">
												{% csrf_token %}
												<button type="submit" style="background-color: transparent; color: white; border: none">
											<div class="feature-block" >
												<img src="{% static 'img/AWS.jpg' %}" alt="img" class="img-fluid">
												<input type="hidden"  value="0"  name="question_value">
												<input type="hidden"  value="0"  name="score">
												<input type="hidden"  value="0"  name="wrong">
												<input type="hidden"  value="AWS_B"  name="Testname">
												<h4 style="color:black">EC-2</h4>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
											</div>
										</button>
									</form>
									</div>
-->
{% load static %} <!-- it is used to apply or set path to all static files like css bootstrap js-->
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Title Page -->
	<title>QuizMania</title>

	<!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Required CSS -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link href="{% static 'css/custom_style.css' %}" rel="stylesheet">

	<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

	<script type="text/javascript">
                function accessCookie(cookieName)
                {
                var name = cookieName + "=";
                var allCookieArray = document.cookie.split(';');
                for(var i=0; i<allCookieArray.length; i++)
                {
                        var temp = allCookieArray[i].trim();
                        if (temp.indexOf(name)==0)
                        return temp.substring(name.length,temp.length);
                        }
                        return "";
                }
				
                function checkCookie()
                {
                var user = accessCookie("Email");
                if (user=="")
                window.location="/logout"; // if cookies are not found send the user to login page
                }
		</script>	

</head>
<body>
	<!-- Page Header -->
	
  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>Quiz</span>Mania</a></h1>
      </div>
      <div class="dropdown pull-right">							<!-- after logout, delete the cookies-->
        <button  class="btn btn-success" type="button" id="login" onclick="checkCookie()"><a href="/logout"><h4 class="he">Logout</h4></a></button>
      </div>								<!-- need to change the css for log out button-->
			
		</div>
		
		
  </header>

		
	<br>
	<br>
	<br>
	
	<!-- Page Content -->
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
	<div class="container">
			
			<!-- Nav pills -->
			
			<span class="text-center" style="color:grey"><h1>QUIZ CATALOG</h1></span><hr>
	<nav class="navbar navbar-expand-sm  navbar-dark sticky-top " style="background: #71c55d;">
		<span class="col-md-3"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<ul class="nav nav-tabs ">
		
			<li class="active">
				<a data-toggle="tab" href="#home"><h4>BEGINNER</h4></a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu1"><h4>INTERMEDIATE</h4></a>
			</li>
			<li>
				<a data-toggle="tab" href="#menu2"><h4>ADVANCE</h4></a>
			</li>
		</ul>
	
	</nav> 		
			
		<!-- Basic Pages-->
			<!-- Tab panes -->
			<div class="tab-content">
				<div id="home" class=" tab-pane fade in active"><br>
					
					<section id="features" class="padd-section text-center wow fadeInUp">

							
					
							<div class="container">
								<div class="row">
									
								 <div class="col-md-6 col-lg-3">
										<form action= "/Docker_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/docker.svg' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="Docker_B"  name="Testname">
											<h4 style="color:black">Docker</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
								
								
					
					
									<div class="col-md-6 col-lg-3">
											<form action="/AWS_B" method="post">
												{% csrf_token %}
												<button type="submit" style="background-color: transparent; color: white; border: none">
											<div class="feature-block" >
												<img src="{% static 'img/AWS.jpg' %}" alt="img" class="img-fluid">
												<input type="hidden"  value="0"  name="question_value">
												<input type="hidden"  value="0"  name="score">
												<input type="hidden"  value="0"  name="wrong">
												<input type="hidden"  value="AWS_B"  name="Testname">
												<h4 style="color:black">EC-2</h4>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
											</div>
										</button>
									</form>
									</div>
									
									
					
									<div class="col-md-6 col-lg-3">
										<form action="/Redhat_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/redhat.jpg' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="Redhat_B"  name="Testname">
											<h4 style="color:black">Demo</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
					
									<div class="col-md-6 col-lg-3">
										<form action="/Python_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/python.jpeg' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="Python_B"  name="Testname">
											<h4 style="color:black">Demo</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
					
									<div class="col-md-6 col-lg-3">
										<form action="/Tensorflow_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/tensorflow.jpeg' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="Tensorflow_B"  name="Testname">
											<h4 style="color:black">Demo</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
					
									<div class="col-md-6 col-lg-3">
										<form action="/ComputerVision_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/computer_vision.jpeg' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="ComputerVision_B"  name="Testname">
											<h4 style="color:black">Demo</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
					
									<div class="col-md-6 col-lg-3">
										<form action="/Kubernetes_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/kubernetes.png' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="Kubernetes_B"  name="Testname">
											<h4 style="color:black">Demo</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
					
									<div class="col-md-6 col-lg-3">
										<form action="/ScikitLearn_B" method="post">
											{% csrf_token %}
											<button type="submit" style="background-color: transparent; color: white; border: none">
										<div class="feature-block" >
											<img src="{% static 'img/scikit.png' %}" alt="img" class="img-fluid">
											<input type="hidden"  value="0"  name="question_value">
											<input type="hidden"  value="0"  name="score">
											<input type="hidden"  value="0"  name="wrong">
											<input type="hidden"  value="ScikitLearn_B"  name="Testname">
											<h4 style="color:black">Demo</h4>
											<p>This is the demo test, This page will explain whats going on</p>
										</div>
									</button>
								</form>
									</div>
					
								</div>
							</div>
						</section>
				</div>
			
<!------------------------------------------------------------------------------------------------------------------------------>
<div id="menu1" class="tab-pane fade"><br>
					
	<section id="features" class="padd-section text-center wow fadeInUp">

			
	
			<div class="container">
				<div class="row">
					
				 <div class="col-md-6 col-lg-3">
						<form action="/Docker_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/docker.svg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Docker_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
				
				
	

					<div class="col-md-6 col-lg-3">
							<form action="/AWS_I" method="post">
								{% csrf_token %}
								<button type="submit" style="background-color: transparent; color: white; border: none">
							<div class="feature-block" >
								<img src="{% static 'img/AWS.jpg' %}" alt="img" class="img-fluid">
								<input type="hidden"  value="0"  name="question_value">
								<input type="hidden"  value="0"  name="score">
								<input type="hidden"  value="0"  name="wrong">
								<input type="hidden"  value="AWS_I"  name="Testname">
								<h4 style="color:black">EC-2</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							</div>
						</button>
					</form>
					</div>
					
					
	
					<div class="col-md-6 col-lg-3">
						<form action="/Redhat_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/redhat.jpg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Redhat_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/Python_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/python.jpeg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Python_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/Tensorflow_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/tensorflow.jpeg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Tensorflow_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/ComputerVision_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/computer_vision.jpeg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="ComputerVision_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/Kubernetes_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/kubernetes.png' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Kubernetes_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/ScikitLearn_I" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/scikit.png' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="ScikitLearn_I"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
				</div>
			</div>
		</section>
</div>


<!----------------------------------------------------------------------------------------------------------------------------------->

<div id="menu2" class="tab-pane fade"><br>
					
	<section id="features" class="padd-section text-center wow fadeInUp">

			
	
			<div class="container">
				<div class="row">
					
				 <div class="col-md-6 col-lg-3">
						<form action="/Docker_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/docker.svg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Docker_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
				
				
	
	
					<div class="col-md-6 col-lg-3">
							<form action="/AWS_A" method="post">
								{% csrf_token %}
								<button type="submit" style="background-color: transparent; color: white; border: none">
							<div class="feature-block" >
								<img src="{% static 'img/AWS.jpg' %}" alt="img" class="img-fluid">
								<input type="hidden"  value="0"  name="question_value">
								<input type="hidden"  value="0"  name="score">
								<input type="hidden"  value="0"  name="wrong">
								<input type="hidden"  value="AWS_A"  name="Testname">
								<h4 style="color:black">EC-2</h4>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
							</div>
						</button>
					</form>
					</div>
					
					
	
					<div class="col-md-6 col-lg-3">
						<form action="/Redhat_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/redhat.jpg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Redhat_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/Python_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/python.jpeg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Python_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/Tensorflow_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/tensorflow.jpeg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Tensorflow_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/ComputerVision_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/computer_vision.jpeg' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="ComputerVision_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/Kubernetes_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/kubernetes.png' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="Kubernetes_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
					<div class="col-md-6 col-lg-3">
						<form action="/ScikitLearn_A" method="post">
							{% csrf_token %}
							<button type="submit" style="background-color: transparent; color: white; border: none">
						<div class="feature-block" >
							<img src="{% static 'img/scikit.png' %}" alt="img" class="img-fluid">
							<input type="hidden"  value="0"  name="question_value">
							<input type="hidden"  value="0"  name="score">
							<input type="hidden"  value="0"  name="wrong">
							<input type="hidden"  value="ScikitLearn_A"  name="Testname">
							<h4 style="color:black">Demo</h4>
							<p>This is the demo test, This page will explain whats going on</p>
						</div>
					</button>
				</form>
					</div>
	
				</div>
			</div>
		</section>

		
</div>

<div class="text-center">

	<button class="btn btn-success" type="button" id="stats" onclick="window.location.href='/stats'">User Statistics</button>
	<br>
	<hr>
</div>

			</div>
		</div>
	
	
	<!------------------------------------------------------------------------------------------------------------------------------------------------>
	  <!--==========================
    Team Section
  ============================-->
  <section id="team" class="padd-section text-center wow fadeInUp">

	<div class="container">
	  <div class="section-title text-center">

		<h2>Team Members</h2>
		<p class="separator">AdHoc Networks Infotech Private Limited</p>
		<hr>
	  </div>
	</div>

	<div class="container">
	  <div class="row">

		<div class="col-md-6 col-md-4 col-lg-3">
		  <div class="team-block bottom">
			<img src="{% static 'img/team/1.jpg' %}" class="img-responsive" alt="img">
			<div class="team-content">
			  <ul class="list-unstyled">
				
				<li><a href="https://github.com/piyushagarwal08"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/piyush-agarwal-733346156"><i class="fa fa-linkedin"></i></a></li>
			  </ul>
			  <span>Developer</span>
			  <h4>Piyush Agarwal</h4>
			</div>
		  </div>
		</div>

	   <div class="col-md-6 col-md-4 col-lg-3">
		  <div class="team-block bottom">
			<img src="{% static 'img/team/2.jpg' %}" class="img-responsive" alt="img">
			<div class="team-content">
			  <ul class="list-unstyled">
				
				<li><a href="https://github.com/abhinaay"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/abhinaay-bhatt"><i class="fa fa-linkedin"></i></a></li>
			  </ul>
			  <span>Developer</span>
			  <h4>Abhinay Bhatt</h4>
			</div>
		  </div>
		</div>

		<div class="col-md-6 col-md-4 col-lg-3">
		  <div class="team-block bottom">
			<img src="{% static 'img/team/3.jpg' %}" class="img-responsive" alt="img">
			<div class="team-content">
			  <ul class="list-unstyled">
				
				<li><a href="https://github.com/sharmapradyumn"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/pradyumn-sharma-59782a15a/"><i class="fa fa-linkedin"></i></a></li>
			  </ul>
			  <span>Developer</span>
			  <h4>Pradyumn Sharma</h4>
			</div>
		  </div>
		</div>

		<div class="col-md-6 col-md-4 col-lg-3">
		  <div class="team-block bottom">
			<img src="{% static 'img/team/4.jpg' %}" class="img-responsive" alt="img">
			<div class="team-content">
			  <ul class="list-unstyled">
				
				<li><a href="https://github.com/hvijaycse/"><i class="fa fa-github"></i></a></li>
				<li><a href="https://linkedin.com/in/hvijaycse"><i class="fa fa-linkedin"></i></a></li>
			  </ul>
			  <span>Developer</span>
			  <h4>Harsh Vijay</h4>
			</div>
		  </div>
		</div>

	  </div>
	</div>
  </section>
<!--Team Section Ends-->  
	
	
	

	<!-- Page Footer -->
<!--==========================
    Footer
  ============================-->
  <!--==========================
    Footer
  ============================-->
  <footer class="footer">
   
				<div class="copyrights">
					<div class="container">
						<p>&copy; Copyrights QuizMania. All rights reserved.</p>
						<div class="credits">
							
							Designed by <a href="https://bootstrapmade.com/">DataGeeks</a>
						</div>
					</div>
				</div>
		     
   
  </footer>

	<!-- Required JavaScript -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	
	<!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'lib/wow/wow.min.js' %}"></script>
	
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

